<div class="jumbotron banner jumbotron-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 nomargin">
        <div id="carouselJumbotron" class="carousel slide" data-ride="carousel" data-interval="4000">
          <div class="carousel-inner">
            <div class="overlay">
              <img class="img-fluid" src="../img/queen/queen-logo-white.png" alt="logo">
            </div>
            <div class="carousel-item slides slide-1 active">
              <img class="img-fluid" src="../img/queen/queen-band-wallpaper-thin-cropped.jpg" alt="band">
            </div>
            <div class="carousel-item slides slide-2">
              <img class="img-fluid" src="../img/queen/queen-live-on-stage-cropped.jpg" alt="live">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>