{% extends '_templates/base.njk' %}

{% block page_title %}Queen{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container" id="introduction">
  <h1 class="text-center">Welcome to Queen</h1>
  <p>Galaxies rich in heavy atoms tesseract invent the universe the only home we've ever known take root and flourish. Not a sunrise but a galaxyrise a very small stage in a vast cosmic arena network of wormholes a very small stage in a vast cosmic arena two ghostly white figures in coveralls and helmets are softly dancing Orion's sword and billions upon billions upon billions upon billions upon billions upon billions upon billions.</p>
  
  <h2>Meet the Band</h2>
  <div class="row">
    {% for members in queen.members %}
      <div class="col">
        <img src="img/queen/members/{{ members.image }}" alt="" class="img-fluid">
        <h3><a href="about/{{ members.slug }}.html">{{ members.name }}</a></h3>
      </div>
    {% endfor %}
  </div>
  
  <h2>Upcoming Tours</h2>
  <p>This loops through data that came from a Google Sheet example.</p>
  <hr>
  {% for tour2021 in queen.tour2021 %}
    <div class="col sm">
      <h3><a href="#" target="_blank">{{ tour2021.city }}</a></h3>
      <p>{{ tour2021.date}}, {{ tour2021.venue }}</p>
      <hr>
    </div>
  {% endfor %}
</div>
{% endblock %}