{% extends '_templates/base.njk' %}

{% block page_title %}Queen | Home{% endblock %}

{% block page_description %}The official website of Queen{% endblock %}

{% block content %}
<!-- Introduction -->
<div class="container" id="introduction">
  <h1 class="text-center">Welcome to Queen</h1>
  <p>Galaxies rich in heavy atoms tesseract invent the universe the only home we've ever known take root and flourish. Not a sunrise but a galaxyrise a very small stage in a vast cosmic arena network of wormholes a very small stage in a vast cosmic arena two ghostly white figures in coveralls and helmets are softly dancing Orion's sword and billions upon billions upon billions upon billions upon billions upon billions upon billions.</p>
  
<!-- Members -->
  <h2>Meet the Band</h2>
  <div class="row">
    {% for members in queen.members %}
      <div class="col-3">
        <img src="img/queen/members/{{ members.image }}" alt="" class="img-fluid">
        <h5><a href="about/{{ members.slug }}.html">{{ members.name }}</a></h5>
      </div>
    {% endfor %}
  </div>

<!-- Discography -->
  <h2>Featured Albums</h2>
  <div id="carouselAlbums" class="carousel slide col-md-4 offset-md-4 col-6 offset-3" data-ride="carousel">
    <div class="carousel-inner">
      {% for discography in queen.discography %}
      <div class="carousel-item {% if loop.first %}active{% endif %} img-fluid">
          <img class="d-block w-100 img-responsive" src="../img/queen/discs/{{discography.image}}" alt="Slide">
          <div class="card-body">
          <h5 class="card-title">{{ discography.title }}</h5>
          <h6 class="card-text">{{ discography.year }}</h6>
          </div>
      </div>
      {% endfor %}
    </div>
      <a class="carousel-control-prev" href="#carouselAlbums" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselAlbums" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>
  <p>Check out our complete discography <a href="albums.html">here</a>.</p>
  
<!-- Tours -->
  <h2>Upcoming Tours</h2>
  <p>Check out more of our upcoming shows <a href="tour.html">here</a>.</p>
  <hr>
  <div class="table-responsive table-hover" id="tableHome">
    <table class="table col-md-8 offset-md-2">
        <thead>
          <tr>
            <th>City</th>
            <th>Date</th>
            <th>Venue</th>
          </tr>
        </thead>
        <tbody>
        {% for tour2021 in queen.tour2021 %}
          <tr>
            <td>{{tour2021.city}}</td>
            <td>{{tour2021.date}}</td>
            <td>{{tour2021.venue}}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>

<!-- Billboard -->
</div>
{% endblock %}