{% extends '_templates/base.njk' %}

{% block page_title %}Queen | Tour{% endblock %}

{% block page_description %}Book your tickets to see us on tour today!{% endblock %}

{% block content %}

<article class="container">
  <h1>World Tour</h1>
  <p>Find one of our tours near you!</p>

  <div class="table-responsive table-hover">
    <table class="table col-8 offset-2">
        <thead>
          <tr>
            <th>City</th>
            <th>Date</th>
            <th>Venue</th>
          </tr>
        </thead>
        <tbody>
          {% for tour2021 in queen.tour2021 %}
          <tr>
            <td>{{tour2021.city}}</td>
            <td>{{tour2021.date}}</td>
            <td>{{tour2021.venue}}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
</article>
{% endblock %}